{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "global/css/style.css" %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header class="header">
        <h1 class="header-heading">
            <a href="{% url "home" %}" class="header-link">
                Agenda
            </a>
        </h1>

        <nav class="menu">
            <ul class="menu-list">
                {% if user.is_authenticated %}
                
                    <li class="menu-item">
                        <a href="{% url "create" %}" class="menu-link">
                            Add contact
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url "update" %}" class="menu-link">
                            Profile
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url "logout" %}" class="menu-link">
                            Logout
                        </a>
                    </li>
                {% else %}
                    <li class="menu-item">
                        <a href="{% url "login" %}" class="menu-link">
                            Login
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url "register" %}" class="menu-link">
                            Register
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <div class="search">
            <form 
                action="{% url "search" %}" 
                method="get"
            >
                <input 
                    type="text" 
                    class="search-input"
                    placeholder="Search"
                    id="search"
                    name="q"
                    value="{{search_value}}"
                >
            </form>
        </div>
    </header>

    {% if messages %}
    
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{message}}
            </div>
        {% endfor %}

    {% endif %}

    <main class="content">
        {% block content %}{% endblock content %}
    </main>
</body>
</html>