{% extends "global/base.html" %}

{% block title %}{{site_title}}{% endblock title %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            {{contact.first_name}} {{contact.last_name}}
        </h1>

        {% if contact.picture %}
            <p>
                <img src="{{contact.picture.url}}" 
                alt="{{contact.first_name}} {{contact.last_name}}">
            </p>
        {% endif %}

        <p><b>ID: </b>{{contact.id}}</p>
        <p><b>Phone: </b>{{contact.phone}}</p>
        <p><b>Email: </b>{{contact.email}}</p>
        <p><b>Created date: </b>{{contact.created_date}}</p>
        <p><b>Category: </b>{{contact.category.name}}</p>
        <p><b>Description: </b>{{contact.description}}</p>

    </div>

    <div class='redirect-button'>
        <a href="{% url "update" contact.id%}" 
        class="">
            <button id="update-button">
                Edit
            </button>
        </a>

        <form action="{% url "delete" contact.id%}" method="POST">
            {% csrf_token %}
            {% if confirmation == 'no' %}
                <input type="hidden" name="confirmation" value="yes">
                <button id="delete-button" type="submit">
                    Are you sure?
                </button>
            {% else %}
                <button id="delete-button" type="submit">
                    Delete
                </button>
            {% endif %}
        </form>
    </div>
    
{% endblock content %}