{% extends "global/base.html" %}

{% block title %}{{site_title}}{% endblock title %}

{% block content %}
    {% if page_obj %}
        <div class="responsive-table">
            <table class="contacts-table">
                <caption class="table-caption">
                    Contacts
                </caption>
                <thead>
                    <tr class="table-row table-row-header">
                        <th class="table-header">ID</th>
                        <th class="table-header">First name</th>
                        <th class="table-header">Last name</th>
                        <th class="table-header">Phone</th>
                        <th class="table-header">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in page_obj %}
                        {% if contact.owner == user %}
                            <tr class="table-row">
                                <td class="table-cel">
                                    <a 
                                        href="{% url "contact" contact.id %}" 
                                        class="table-link"
                                    >
                                        {{contact.id}}
                                    </a>
                                </td>
                                <td class="table-cel">
                                    {{contact.first_name}}
                                </td>
                                <td class="table-cel">
                                    {{contact.last_name}}
                                </td>
                                <td class="table-cel">
                                    {{contact.phone}}
                                </td>
                                <td class="table-cel">
                                    {{contact.email}}
                                </td>
                            </tr>
                        
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1&q={{search_value}}">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}&q={{search_value}}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}&q={{search_value}}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}&q={{search_value}}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    {% else %}
        <div class="single-contact">
            <h1 class="single-contact-name">
                No contacts found.
            </h1>
        </div>
    {% endif %}
{% endblock content %}